{{#foreach navigation}}
  <li class="drawer-list-item " role="presentation">
		<a class="{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}" data-pjax>
			<i class="fa fa-{{slug}}"></i>{{label}}
		</a>
	</li>
{{/foreach}}